.container {
    position: relative;
    width:100%;
}

.controlsContainer {
    position: absolute;
    right: 1%;
    top:50%;
    transform: translateY(-50%);
}

.controlsContainer {
    font-size: x-large;
    margin:0;
    padding:0;
}

.controlItem {
    padding: 5px;
    list-style: none;
    color: white;
    background: black;
    background: rgba(0,0,0,0.5);
    text-align: center;
    margin-bottom: 2px;
}

@media (min-width:320px) {
    .controlItem {
        padding: 10px;
    }
}

@media (min-width:481px) { 
    .controlItem {
        padding: 15px;
    }
}

@media (min-width:641px) {  
    .controlItem {
        padding: 20px;
    }
}

@media (min-width:961px) {  
    .controlItem {
        padding: 25px;
    }
}

@media (min-width:1025px) {  
    .controlItem {
        padding: 30px;
    }
}   

.videoElement {
    width:100%;
}